<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="my-login.html">
<link rel="import" href="my-register.html">





<dom-module id="my-blog">
  <template>



    <style>

    body {
      height: 100%;
      background-color: #333;
      background-image: url('futbol3.jpg');
    }

    table.table2 {

      background-color: black;

    }



    </style>







        <app-location route="{{route}}"></app-location>
        <app-route
            route="{{route}}"
            pattern="[[rootPattern]]:page"
            data="{{routeData}}"
            tail="{{subroute}}"></app-route>

<body>

<p></p>
<p></p>
<p></p>
<p></p>
<p></p>

<table><tr>
      <td width="150px"><button type="button" name="button" on-click="volver"> Ir a Inicio </button></td>
      <td>  <div name='logoff-section' style='display:none;'>
        <button type="button" name="button" on-click="logoff"> Desconectar </button></span>
        </div>
      </td>
      <td align="center" width="1400px"> <div name='saludo-section' style='display:none;'> <h1> {{usuario}} estas conectado el blog Futboleros </h1> </div> </td>
    </tr>
  </table>

    <div name='login-section'>
    <my-login></my-login>
    </div>



    <div name='register-section'>
      <my-register></my-register>
    </div>




<!--    <div id="controls">
           <paper-button on-click="_loadElement1">Load Element 1</paper-button>

       </div>
       <div id="container"></div> -->

  <!--<div class="row">
    <div class="col-m-3">Titulo</div>
    <div class="col-m-3">Texto</div>
    <div class="col-m-3">Fecha</div>
    <div class="col-m-3"></div>
  </div> -->

<div name='nuevopost-section' style='display:none;'>
<h3> Alta de nuevo post </h3>
<table style="margin: 0 auto;"> <tr><td>
<table style="margin: 0 auto;">
    <tr>
      <td>
        Usuario
      </td>
      <td>
        Titulo
      </td>

      <td>
        Fecha
      </td>
    </tr>

  <tr>
    <td>
      <input type="text" name="Usuario" value="{{usuario}}" disabled="true" size="20">
    </td>
    <td>
      <input type="text" name="Titulo" value="" size="30">
    </td>

    <td>
     <input type="text" name="Fecha" value="" placeholder="aaaa/mm/dd" size="10">
    </td>
  </tr>
</table>
<table style="margin: 0 auto;">
<tr>
<td>
  Nombre Autor
</td>
<td>
  Apellido Autor
</td>
<td>
  Ciudad
</td>
<td>
  URL para Imagen
</td>
</tr>
<tr>
  <td>
   <input type="text" name="Autor_nombre" value="" size="15">
  </td>
  <td>
   <input type="text" name="Autor_apellido" value="" size="15">
  </td>

  <td>
   <input type="text" name="Ciudad" value="" size="15">
  </td>
  <td>
   <input type="text" name="URLImagen" value="" placeholder="URL Amazon S3">
  </td>
</tr>
</table>
</td>
<td vertical-align="middle">
  <table><tr><td> Texto </td></tr>
  <tr><td><textarea name="Texto" cols="40" rows="5"></textarea></td></tr>
  </table>
</td>
</tr>
</tABLE>
<p>
  <button type="button" name="button2" on-click="guardarPosts"> Guardar </button>
</p>
</div>

<table style="margin: 0 auto;">
  <tr><td>
<div name="administration-section" style='display:none;'>

<span><button type="button" name="button" on-click="loadPostsAdmin"> Administrar mis posts </button></span>

</div></td>


<td><div name="salir-administration" style='display:none;'>

<span><button type="button" name="button-salir-admin" on-click="salirModoAdmin"> Salir modo administracion </button></span>

</div>
</td>
</tr>
</table>



<!--<select name="tema">
  <option value="La Liga" selected="selected"> La Liga </option>
  <option value="Premier"> Premier </option>
  <option value="Calcio"> Calcio </option>
</select> -->

<div name="listado-section" style="text-align:center;"  >

<!--<div class="table-responsive">
  <table class="table table-stripped">
-->
    <table border="2" style="margin: 0 auto;" class="table2">
    <tr>
  <!--  <th>Identificador</th> -->
    <th>Titulo</th>
    <th>Texto</th>
    <th>Fecha</th>
    <th>Autor</th>
    <th>Imagen</th>
  </tr>

<template is="dom-repeat" items="[[posts]]">

  <tr>

<!--  <td>{{item._id.$oid}}</td> -->
  <td>{{item.titulo}}</td>
  <td>{{item.texto_corto}}...</td>
  <td>{{item.fecha}}</td>
  <td>{{item.autor.nombre}}</td>
  <td align="center"> <img src="{{item.imagen}}" height="30"></td>
  <!--<td><button type="button" id="{{item._id.$oid}}" name="button-detalle" on-click="editarPosts"> Ver detalle </button></td>-->

  <td> <paper-button raised id="{{item._id.$oid}}" title="button-detalle2" name="button-detalle2" on-click="editarPosts" >Ver detalle</paper-button>
    <style>
      a paper-button,
      a:active paper-button,
      a:visited paper-button {
        color: #000;
      }
    </style>
  </td>

  <!--<td><button type="button" id="{{item._id.$oid}}" name="button-editar" on-click="editarPosts"> Editar </button></td>
  <td><button type="button" id="{{item._id.$oid}}" name="button-borrar" on-click="borrarPosts"> Borrar </button></td> -->
</tr>


</template>
</table>
</div>

<div name="listado-admin-section" style='display:none;'>

      <table border="2" style="margin: 0 auto;" class="table2">
    <tr>
  <!--  <th>Identificador</th> -->
    <th>Titulo</th>
    <th>Texto</th>
    <th>Fecha</th>
    <th>Autor</th>
    <th>URL Imagen</th>
  </tr>


<template is="dom-repeat" items="[[posts2]]">

  <tr>

  <!---<td>{{item._id.$oid}}</td>-->
  <td>{{item.titulo}}</td>
  <td>{{item.texto_corto}}...</td>
  <td>{{item.fecha}}</td>
  <td>{{item.autor.nombre}}</td>
  <td align="center"> <img src="{{item.imagen}}" height="30"></td>
  <!--<td><button type="button" id="{{item._id.$oid}}" name="button-editar" on-click="editarPosts"> Editar </button></td>-->
  <!--<td><button type="button" id="{{item._id.$oid}}" name="button-borrar" on-click="borrarPosts"> Borrar </button></td>-->
  <td> <paper-button raised id="{{item._id.$oid}}" title="button-editar" on-tap="editarPosts" >Editar</paper-button>
    </a>
    <style>
      a paper-button,
      a:active paper-button,
      a:visited paper-button {
        color: #000;
      }
    </style>
  </td>

</td>
  <td> <paper-button raised id="{{item._id.$oid}}" title="button-borrar" on-tap="borrarPosts" >Borrar</paper-button>
    </a>
    <style>
      a paper-button,
      a:active paper-button,
      a:visited paper-button {
        color: #000;
      }
    </style>
  </td>


</tr>

</template>
</table>
</div>
</body>


    </template>

    <script>


    Polymer ({

    is:'my-blog',
    created:function(){
      console.log('se lanza esto');
    },
    ready:function(){
      console.log('se lanza aquello');
      var usuarioLogin = sessionStorage.getItem("usuario");
      this.usuario = usuarioLogin;
      console.log(usuarioLogin);
      if (usuarioLogin != null) {
      console.log("Usuario informado");
      console.log(usuarioLogin);
      document.getElementsByName('login-section')[0].style.display='none';
      document.getElementsByName('logoff-section')[0].style.display='block';
      document.getElementsByName('register-section')[0].style.display='none';
      document.getElementsByName('nuevopost-section')[0].style.display='block';
      document.getElementsByName('administration-section')[0].style.display='block';
      document.getElementsByName('saludo-section')[0].style.display='block';

      };
      var accionesadmin = sessionStorage.getItem("accionesadmin");
      if (accionesadmin !=null)
      this.loadPostsAdmin();
      else
      this.loadPosts();

    },
    properties: {
      posts: Array,
      post2: Array,
      usuario:String,

    },
    listeners: {

    },
    loadPosts: function(){

      // const URL ="https://api.mlab.com/api/1/databases/bootcamp/collections/posts?q={\"autor\":{\"nombre\":\"Ezequiel\"}}&apiKey=r4_VScEto0eBs4PXFxOXkSSStxK4OU0C";
      const URL ="https://api.mlab.com/api/1/databases/bootcamp/collections/posts?s={\"fecha\":-1}&apiKey=r4_VScEto0eBs4PXFxOXkSSStxK4OU0C";
      var response;
      var peticion = new XMLHttpRequest();
      peticion.open("GET", URL, false);
      peticion.setRequestHeader("Content-Type", "application/json");
      peticion.send();
      this.posts = JSON.parse(peticion.responseText);
      console.log('Dentro de la funcion');


    },

    loadPostsAdmin: function(){

      // const URL ="https://api.mlab.com/api/1/databases/bootcamp/collections/posts?q={\"autor\":{\"nombre\":\"Ezequiel\"}}&apiKey=r4_VScEto0eBs4PXFxOXkSSStxK4OU0C";
      //const URL ="https://api.mlab.com/api/1/databases/bootcamp/collections/posts?apiKey=r4_VScEto0eBs4PXFxOXkSSStxK4OU0C";
      var identificador_admin = sessionStorage.getItem("usuario");
      console.log(identificador_admin);
      var URL ="https://api.mlab.com/api/1/databases/bootcamp/collections/posts?q={\"nick\":\"";
      URL = URL + identificador_admin + "\"}";
      URL += "&s={\"fecha\":-1}&apiKey=r4_VScEto0eBs4PXFxOXkSSStxK4OU0C";
      console.log(URL);
      var response;
      var peticion = new XMLHttpRequest();
      peticion.open("GET", URL, false);
      peticion.setRequestHeader("Content-Type", "application/json");
      peticion.send();
      console.log(peticion.responseText);
      this.posts2 = JSON.parse(peticion.responseText);
      document.getElementsByName('listado-section')[0].style.display='none';
      document.getElementsByName('listado-admin-section')[0].style.display='block';
      document.getElementsByName('salir-administration')[0].style.display='block';
      //sessionStorage.setItem("accionesadmin", "si");
      //document.getElementsByName('button-salir-admin')[0].disabled="false";
      console.log('Dentro de la funcion que recupera admin');
      //window.location="/prueba2.html";


    },


    guardarPosts: function(){

      //console.log("Llego a guardar");
        const URL ="https://api.mlab.com/api/1/databases/bootcamp/collections/posts?apiKey=r4_VScEto0eBs4PXFxOXkSSStxK4OU0C"
        var usuario = document.getElementsByName('Usuario')[0].value;
        var titulo = document.getElementsByName('Titulo')[0].value;
        var texto = document.getElementsByName('Texto')[0].value;
        var texto_corto = texto.substr(0,20);
        console.log(texto_corto);
        var fecha = document.getElementsByName('Fecha')[0].value;
        var autor_nombre = document.getElementsByName ('Autor_nombre')[0].value;
        var autor_apellido = document.getElementsByName ('Autor_apellido')[0].value;
        var ciudad = document.getElementsByName ('Ciudad')[0].value;
        var imagen = document.getElementsByName ('URLImagen')[0].value;
        var peticion = new XMLHttpRequest();
        peticion.open("POST", URL, false);
        peticion.setRequestHeader("Content-Type", "application/json");
        var contenido = '{"nick":"'+usuario+'","titulo":"'+ titulo+'","texto_corto":"'+texto_corto+
        '","texto":"'+texto+'","fecha":"'+fecha+'","autor":{"nombre":"'+autor_nombre+
        '", "apellido":"'+autor_apellido+'"},"ciudad":"'+ciudad+'","imagen":"'+imagen+'"}';
        console.log(contenido);
        peticion.send(contenido);
        window.location = "/main_blog.html";
        //window.location = "blog";

    },

    editarPosts: function(e) {

        var identificador = e.target.id;
        console.log(identificador);
        var accion = e.target.title;
        console.log(accion);
        sessionStorage.setItem ("editar", "si");
        sessionStorage.setItem("accionesadmin","si");
        if (accion == "button-detalle2")  {
          console.log("Entro modo consulta");
          sessionStorage.removeItem("accionesadmin");
          sessionStorage.setItem ("editar", "no");
        };
        var URL ="https://api.mlab.com/api/1/databases/bootcamp/collections/posts?q={\"_id\":{\"$oid\":\"";
        URL = URL + identificador + "\"}}";
        URL += "&apiKey=r4_VScEto0eBs4PXFxOXkSSStxK4OU0C";
        console.log(URL);
        var response;
        var peticion = new XMLHttpRequest();
        peticion.open("GET", URL, false);
        peticion.setRequestHeader("Content-Type", "application/json");
        peticion.send();
        this.posts2 = JSON.parse(peticion.responseText);
        var listado = peticion.responseText;
        //var listado1 = JSON.parse(peticion.responseText);
        console.log(listado);
        sessionStorage.setItem("campos-post", listado);
        //location.href="/posts-fields";
        //this.set("route.path","posts-fields");
        window.location = "/detalle_post.html";


        //window.location = "posts-fields";
        //location.href = "posts-fields";

    },

    borrarPosts: function(a) {

    if (!confirm ("ALERTA!! va a proceder a eliminar este post, si deseas eliminar ACEPTAR, sino CANCELAR"))
    {
      return false;
    }
    else {

    var identificador2 = a.target.id;
    console.log(identificador2);
    var URL ="https://api.mlab.com/api/1/databases/bootcamp/collections/posts/";
    URL = URL + identificador2;
    URL += "?apiKey=r4_VScEto0eBs4PXFxOXkSSStxK4OU0C";
    console.log(URL);
    var response;
    var peticion = new XMLHttpRequest();
    peticion.open("DELETE", URL, false);
    peticion.setRequestHeader("Content-Type", "application/json");
    peticion.send();
    sessionStorage.setItem("accionesadmin","si");
    window.location = "/main_blog.html"
    //window.location = "blog";
    //window.location = "http://www.google.es";
    }
    },

    logoff: function() {

    console.log("entro aqui");
    sessionStorage.setItem("accionesadmin","");
    sessionStorage.removeItem("accionesadmin");
    sessionStorage.removeItem("usuario");

    window.location = "/main_blog.html";
    },

    salirModoAdmin: function(){

      sessionStorage.removeItem("accionesadmin");
      window.location="/main_blog.html";

    },

    volver: function()
    {
      window.location="/index.html";
    },




    _myLoadElement: function(elementName, htmlImport) {
            // Let's remove last loaded element if exists
            this._removeElement();
            // Now we load it on-the-fly
            this.importHref(htmlImport, function (e) {
                // Create a new instance
                var myElement = document.createElement(elementName);
                // And add it to the container
                this.$.container.appendChild(myElement);
                // Lets set a dummy property just to show how to do it
                myElement.myProperty = "anything";
            });
        },
        _loadElement1: function () {
            // Pay attention to this path.
            // This IS NOT relative to this component.
            // Its relative to current loaded HTML page which contains app-test element
            // (read the "IMPORTANT NOTE:" section of this post before proceeding)
            // Load your element in the line below
            this._myLoadElement("posts-fields", "posts-fields");
        },
        _loadElement2: function () {
            // Load your element in the next line. Pay attention to the path.
            this._myLoadElement("my-other-element", "elements/myOtherElement.html");
        },
        _removeElement: function () {
            var element = this.$.container.querySelector("*");
            if (element) {
                element.parentNode.removeChild(element);
            }
        }

})

    </script>

</dom-module>
