<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">

  <link href="blog.css" rel="stylesheet">


<dom-module id="my-login">
  <template>
    <style>

    body {

      background-image: url('futbol3.jpg');
    }

    </style>

  <!--
<div class = "container">
	<div class="wrapper">
		<div name="Login_Form" class="form-signin">
		    <h3 class="form-signin-heading">Bienvenido - Inicie sesión</h3>
			  <hr class="colorgraph"><br>
      -->

<body>
<p></p>
<p></p>
<p></p>
      <h3>Bienvenido - Inicie Sesión</h3>

			  <input type="text" id="nombre" name="nombre" placeholder="Username" required="" autofocus="" />
			  <input type="password" id="password" name="password" placeholder="Password" required=""/>

	<button name="Submit" value="Login" type="Submit" on-click="hacerLogin">Login</button>
  <!--<a href="blog" tabindex="-1"> <paper-button raised name="submit" on-tap="hacerLogin">Login</paper-button>
    </a>
    <style>
      a paper-button,
      a:active paper-button,
      a:visited paper-button {
        color: #000;
      }
    </style> -->

            <p>  <span id="mensaje" name="mensaje"></span> </p>


</body>

    </template>

    <script>
    Polymer ({

    is:'my-login',
    properties: {
    },
    listeners: {

    },


hacerLogin: function(){

    const URL = "http://postgrebc9688.cloudapp.net:3000/api/login";
    var nombre = document.getElementsByName('nombre')[0].value;
    var password = document.getElementsByName('password')[0].value;
    console.log(nombre);
    console.log(password);
    var response;
    var peticion = new XMLHttpRequest();
    peticion.open("POST", URL, false);
    peticion.setRequestHeader("Content-Type", "application/json");
    peticion.setRequestHeader("Access-Control-Allow-Origin", "*");
    peticion.send('{"nombre":"' + nombre + '", "password": "' + password + '"}');
    var spanMensaje = document.getElementsByName('mensaje')[0];
    var respuesta = JSON.parse(peticion.responseText);
    console.log(peticion.responseText);
    console.log(peticion.status);
    console.log(respuesta);
    if (peticion.status=="200" && respuesta.data.count > 0)
    {
        spanMensaje.innerText = "Login correcto";
        console.log("debo de seguir por aqui");
        sessionStorage.setItem("usuario", nombre);
        console.log("Antes de recargar");
        window.location = "/main_blog.html";
        //this.set("route.path","blog");
        //window.location = "/blog";

    }
    else
    {
        spanMensaje.innerText = "Login incorrecto";
    }
}





})

    </script>

</dom-module>
