<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="shared-styles.html">
<!--<link rel="import" href="../bower_components/google-map/google-map.html">-->
<!--<link rel="import" href="../bower_components/google-map/google-map.html">-->


<dom-module id="my-mapa">

  <template>
    <style>

    </style>
<table>
</table>
  <!--
<div class = "container">
	<div class="wrapper">
		<div name="Login_Form" class="form-signin">
		    <h3 class="form-signin-heading">Bienvenido - Inicie sesión</h3>
			  <hr class="colorgraph"><br>
      -->


<h2>Geolocalizacion ciudad origen del post</h2>

<head>
<!--<title>Obtener Coordenadas a partir de una dirección</title>-->
<meta charset="utf-8" />



</head>
<body>

<!-- <h1>Obtener Coordenadas a partir de una dirección prueba {{latitud}} {{longitud}}</h1>-->

 <!--<div id="mapa" style="width: 450px; height: 350px;"> </div>
 <div><p id="coordenadas"></p></div>
 <input type="text" id="search">
<button type="button" value="Buscar Dirección" on-click="mapa.getCoords()">-->
<style>
    google-map {
    height: 100px;
  }
  #map {
    height: 500px;
    width: auto;
  }
</style>
  <div id="map"></div>
  <!--<google-map latitude={{latitud}} longitude={{longitud}} api-key="AIzaSyAfMcV3YnY-a37mNr2kAsNcZGciWU72oUg">
  <google-map-marker latitude={{latitud}} longitude={{longitud}} title"Desde aquí escribió Paloma">
  <p>
    Ubicacion del usuario al cuando escribió este post
  </p>
  </google-map-marker>
</google-map>
-->
</body>


    </template>

    <script>
    Polymer ({

    is:'my-mapa',
    ready: function(){
    //this.ciudad = "MADRID";
    this.latitud =  parseFloat(sessionStorage.getItem("latitud"));
    this.longitud = parseFloat(sessionStorage.getItem("longitud"));
    console.log("Estoy dentro de Polymer Mapa");
    //this.getCoords();
    var coords = {lat: this.latitud, lng: this.longitud};
    var map = new google.maps.Map(this.$.map, {
      zoom: 8,
      center: coords
    });
    var marker = new google.maps.Marker({
      position: coords,
      map: map
    });


      //this.campos = JSON.parse(campos_aux);

    },

    properties: {
      ciudad: String,
      mapa: Array,
      longitud: String,
      latitud: String,

    },
    listeners: {

    },


     initMap : function() {

     },

    // función que se ejecuta al pulsar el botón buscar dirección
    getCoords : function()
    {
      // Creamos el objeto geodecoder
     var geocoder = new google.maps.Geocoder();
     console.log("He entrado en la funcion");

     var address = "MADRID";
      // Llamamos a la función geodecode pasandole la dirección que hemos introducido en la caja de texto.
     geocoder.geocode({ 'address': address}, function(results, status)
{
      console.log("Sigo en funcion");
      console.log(status);

       if (status == 'OK')
       {
    // Mostramos las coordenadas obtenidas en el p con id coordenadas
       this.latitud = results[0].geometry.location.lat();
       this.longitud =results[0].geometry.location.lng();
       console.log(this.latitud);
       console.log(this.longitud);
     }

});

   }








})

    </script>

</dom-module>
