<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="my-login.html">
<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyAfMcV3YnY-a37mNr2kAsNcZGciWU72oUg"></script>
<link rel="import" href="my-mapa.html">
<meta http-equiv="Expires" content="0">
<meta http-equiv="Last-Modified" content="0">
<meta http-equiv="Cache-Control" content="no cache,mustrevalidate">
<meta http-equiv="Pragma" content="no-cache">

    <!-- Custom styles for this template -->


<!--<link rel="import" href="../bower_components/google-map/google-map.html">-->

<!--<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyAfMcV3YnY-a37mNr2kAsNcZGciWU72oUg"></script>-->
<!--<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyD3E1D9b-Z7ekrT3tbhl_dy8DCXuIuDDRc"></script>-->

<dom-module id="my-posts-fields">
  <template>
    <style>

    </style>

    <app-location route="{{route}}"></app-location>
    <app-route
        route="{{route}}"
        pattern="[[rootPattern]]:page"
        data="{{routeData}}"
        tail="{{subroute}}"></app-route>

<table>
</table>
<body>
  <!--
<div class = "container">
	<div class="wrapper">
		<div name="Login_Form" class="form-signin">
		    <h3 class="form-signin-heading">Bienvenido - Inicie sesión</h3>
			  <hr class="colorgraph"><br>
      -->


      <div name="edicion-titulo"><h1>Modificar campos del post</h1></div>
      <div name="detalle-titulo" style='display:none;'><h1>Detalle campos del post</h1></div>

      <div class= "container">

      <table>
        <tr>
      <th> Usuario </th>
      <th> Titulo </th>
      <th> Fecha</th>
    </tr>
        <tr>
			<td> <input type="text" id="identificador" name="identificador" placeholder="Username" required="" autofocus="" value={{user}} disabled="true"> </td>
			<td> <input type="text" id="titulo" name="titulo" placeholder="titulo" required="" value={{titulo}}> </td>

      <td> <input type="text" id="fecha" name="fecha" placeholder="fecha" required="" value={{fecha}} size="10"> </td>
      </tr>

    </table>
    <table>
      <tr>
        <th>
          Texto
        </th>
      </tr>
      <tr>
        <td width="600px" valign="top"> <textarea rows="5" cols="50" name="texto" value={{texto}}></textarea> </td>
        <td width="700px"> <div name="imagen-section" style='display:none;'> <img src="{{imagen}}" border="0" width="200px"> </div></td>
      <!--  <td> <input type="text" id="texto" name="texto" style="width:600px;height:40px" placeholder="texto" required="" value={{texto}}> </td> -->
      </tr>
</table>
<table>
  <tr>
<th> Nombre autor </th>
<th> Apellido autor </th>
<th> Ciudad </th>
<th> Imagen </th>
<th></th>
</tr>
<tr>
  <td valign="top"> <input type="text" id="autor_nombre" name="autor_nombre" placeholder="Nombre autor" required="" value={{autor_nombre}}> </td>
  <td valign="top"> <input type="text" id="autor_apellido" name="autor_apellido" placeholder="Apellido autor" required="" value={{autor_apellido}}> </td>
  <td valign="top"> <input type="text" id="ciudad" name="ciudad" placeholder="ciudad" required="" value={{ciudad}}> </td>
  <td valign="top"> <input type="text" id="imagen" name="imagen" placeholder="imagen" required="" value={{imagen}}> </td>
  <td align="right" width="400px"> <div name="imagen-section" style='display:none;'> <img src="{{imagen}}" border="0" width="35"> </div> </td>

</tr>
</table>







      <div name="imagen-section" style='display:none;'>

      <p>
      <img src="{{imagen}}" border="0">
     </p>
      </div>



  <!--

      <style>
google-map {
  height: 200px;
}
</style>

        <google-map latitude="40.4" longitude="-3.7" zoom=11></google-map> -->

<!--<div name="mapa" style='display:none;'>
<my-mapa></my-mapa>
</div>-->

<table>
  <tr>
      <td><div name="edicion-button"><p><button type="button" name="button-prueba" id="{{id}}" on-click="guardarEdicion"> Guardar cambios</button></td></div>
      <!--  <td> <div name="edicion-button"><paper-button raised on-tap="guardarEdicion"> Guardar cambios </paper-button> -->

          <style>
            a paper-button,
            a:active paper-button,
            a:visited paper-button {
              color: #000;
            }
          </style>
        </div>
        </td>
        <td> <div name="cerrar-button"> <button type="button" on-click="salirDetalle">Volver</button>


        </div>
        </td>


    <!--  <td><div name="cerrar-button" style='display:none;'><p><button type="button" name="button-prueba" id="{{id}}" on-click="salirDetalle"> Volver</button></td></div> -->
  <!--<td><div name="location-button" style='display:none'><p><button type="button" name="button-prueba" id="{{id}}" on-click="Ubicacion"> Mostrar ubicacion Post</button></div></td>-->
</tr>
</table>

</div>
<div name="visor" id="visor"></div>

			 <!-- <button name="Submit" value="Login" type="Submit" on-click="hacerLogin">Login</button>
            <p>  <span id="mensaje" name="mensaje"></span> </p> -->

</body>


    </template>

    <script>
    Polymer ({

    is:'my-posts-fields',
    created: function(){
      console.log("ENTRO EN CREATE");
    },
    ready: function(){
      console.log("ENTRO EN EL READY");
      //this.user = sessionStorage.getItem("usuario");
      var campos_aux = sessionStorage.getItem("campos-post");
      console.log(campos_aux);
      var campos = JSON.parse(campos_aux);
      this.user = campos[0].nick;
      this.id = campos[0]._id.$oid;
      this.titulo = campos[0].titulo;
      this.texto = campos[0].texto;
      this.fecha = campos[0].fecha;
      this.autor_nombre = campos[0].autor.nombre;
      this.autor_apellido = campos [0].autor.apellido;
      this.ciudad = campos[0].ciudad;
      var control = sessionStorage.getItem("editar");
      if (control == "no") {
        this.getCoords(function(res) {
          // Código que se ejecuta cuando getCoords termine
          var mapa = document.createElement("my-mapa");
          document.getElementsByName('visor')[0].appendChild(mapa);
      });
    }
        //document.getElementsByTagName("div")[14].appendChild(mapa);
        this.imagen = campos[0].imagen;

        if (control == "no"){
          document.getElementsByName('edicion-button')[0].style.display='none';
          document.getElementsByName('cerrar-button')[0].style.display='block';
          document.getElementsByName('edicion-titulo')[0].style.display='none';
          document.getElementsByName('detalle-titulo')[0].style.display='block';
          //document.getElementsByName('location-button')[0].style.display='block';
          //document.getElementsByName('mapa')[0].style.display='block';
          document.getElementsByName('titulo')[0].disabled='true';
          document.getElementsByName('texto')[0].disabled='true';
          document.getElementsByName('fecha')[0].disabled='true';
          document.getElementsByName('autor_nombre')[0].disabled='true';
          document.getElementsByName('autor_apellido')[0].disabled='true';
          document.getElementsByName('ciudad')[0].disabled='true';
          document.getElementsByName('imagen')[0].disabled='true';
          document.getElementsByName('imagen-section')[0].style.display='block';
        }
      },



      //this.campos = JSON.parse(campos_aux);

    properties: {
      campos: Array,
      user: String,
      id: String,
      titulo: String,
      texto: String,
      fecha: String,
      autor_nombre: String,
      autor_apellido: String,
      imagen: String,

    },
    listeners: {

    },


guardarEdicion: function(e){

  var URL ="https://api.mlab.com/api/1/databases/bootcamp/collections/posts?apiKey=r4_VScEto0eBs4PXFxOXkSSStxK4OU0C&q={\"_id\":{\"$oid\":\"";
  var identificador = e.target.id;
  URL = URL + identificador + "\"}}";
    var nick = sessionStorage.getItem("usuario");
    var titulo = document.getElementsByName('titulo')[0].value;
    var texto = document.getElementsByName('texto')[0].value;
    var texto_corto = texto.substr(0,20);
    var fecha = document.getElementsByName('fecha')[0].value;
    var autor_nombre = document.getElementsByName('autor_nombre')[0].value;
    console.log(autor_nombre);
    var autor_apellido = document.getElementsByName('autor_apellido')[0].value;
    var ciudad = document.getElementsByName('ciudad')[0].value;
    var imagen = document.getElementsByName ('imagen')[0].value;
    var peticion = new XMLHttpRequest();
    peticion.open("PUT", URL, false);
    peticion.setRequestHeader("Content-Type", "application/json");
    var contenido = '{"nick":"'+nick+'","titulo":"'+ titulo+'","texto_corto":"'+texto_corto+
    '","texto":"'+texto+'","fecha":"'+fecha+'","autor":{"nombre":"'+autor_nombre+
    '", "apellido":"'+autor_apellido+'"},"ciudad":"'+ciudad+'","imagen":"'+imagen+'"}';
    peticion.send(contenido);
    window.location = "/main_blog.html";
    // window.location = "blog";



},

salirDetalle: function(){

  window.location = "/main_blog.html";

  //this.set("route.path","blog");


},

Ubicacion: function(){
  console.log("Click en ubicacion");
  window.open("mapa","Ubicacion del blog","width=600,height=600,scrollbars=NO");

},

getCoords : function(f)
{
  // Creamos el objeto geodecoder
 var geocoder = new google.maps.Geocoder();
 console.log("He entrado en la funcion de obtener coordenadas");

 var address = this.ciudad;
  // Llamamos a la función geodecode pasandole la dirección que hemos introducido en la caja de texto.
 geocoder.geocode({ 'address': address}, function(results, status)
{
  console.log("Sigo en funcion obtener coordenadas");
  console.log(status);

   if (status == 'OK')
   {
// Mostramos las coordenadas obtenidas en el p con id coordenadas
   this.latitud = results[0].geometry.location.lat();
   this.longitud =results[0].geometry.location.lng();
   sessionStorage.setItem("latitud",this.latitud);
   sessionStorage.setItem("longitud",this.longitud);
   console.log(this.latitud);
   console.log(this.longitud);
   f(results);
 }

});

}

})

    </script>

</dom-module>
