<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-register">
  <template>
    <style>

    </style>
<table>
</table>
<body>

		    <h3> Bienvenido - Crear usuario</h3>


			  <input type="text" class="form-control" id="nombre_reg" name="nombre_reg" placeholder="Username" required="" autofocus="" />
			  <input type="email" class="form-control" id="email" name="email" placeholder="E-mail" required=""/>
        <input type="password" class="form-control" id="password_reg" name="password_reg" placeholder="Password" required=""/>

			  <button name="Submit" value="Login" type="Submit" on-click="crearUsuario">Login</button>
              <p><span id="mensaje" name="mensaje"></span></p>

</body>
</html>

    </template>

    <script>
    Polymer ({

    is:'my-register',
    properties: {
    },
    listeners: {

    },


crearUsuario: function(){

    const URL = "http://postgrebc9688.cloudapp.net:3000/api/usuarios";
    var nombre_reg = document.getElementsByName('nombre_reg')[0].value;
    var email = document.getElementsByName('email')[0].value;
    var password_reg = document.getElementsByName('password_reg')[0].value;
    console.log(nombre_reg);
    console.log(email);
    console.log(password_reg);
    var response;
    var peticion = new XMLHttpRequest();
    peticion.open("POST", URL, false);
    peticion.setRequestHeader("Content-Type", "application/json");
    peticion.setRequestHeader("Access-Control-Allow-Origin", "*");
    peticion.send('{"nombre":"' + nombre_reg + '", "email": "' + email + '", "password": "' + password_reg + '"}');
    var spanMensaje = document.getElementsByName('mensaje')[0];
    var respuesta = JSON.parse(peticion.responseText);
    console.log(peticion.responseText);
    console.log(peticion.status);
    console.log(respuesta);
    if (peticion.status=="200")
    {
        spanMensaje.innerText = "Usuario creado correctamente";
        sessionStorage.setItem("usuario", nombre_reg);
        window.location = "/main_blog.html";
    }
    else
    {
        spanMensaje.innerText = "No se pudo crear el usuario";
    }

}



})

    </script>

</dom-module>
