<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<script
    src="https://code.jquery.com/jquery-3.2.1.js"
    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<dom-module id="my-view1">
  <template>
   <style include="shared-styles">
      :host {
        display: block;

        padding: 14px;
    

      }
    </style>



    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Blog Tech University 2017</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/main_blog.html">Acceso al blog</a></li>
            <li><a href="/about_us.html">Sobre nosotros</a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div class="card card-inverse card-primary mb-3 text-center">

      <h1 align="center">Bienvenidos al Blog Futboleros</h1>

      <table align="center"><tr>
        <!--<td><button type="button" name="acercade" on-click="acercade"> Sobre nosotros </button></td>-->
        <td><img src="https://s3-eu-west-1.amazonaws.com/bootcamptest77/cancha-de-futbol.jpg" width="800px"></td>
        <!--<td><button type="button" name="entrarblog" on-click="entrarblog"> Acceso al blog </button></td>-->
      </tr>
      </table>

      <p></p>
      <p align="middle"> Si te interesa el mundo del futbol este es tu sitio para estar al día de las ultimas noticias del deporte rey</p>
      <p align="middle"> Comparte tus noticias, consulta las ultimas novedaes, sigue la actualidad de tu equipo favorito o del eterno rival </p>
      <p align="middle"> Esperamos contar con tu presencia y con la misma contribuir a que cada vez seamos mas los que formemos parte de esta gran familia </p>
</div>

  </template>

  <script>
  Polymer ({

  is:'my-view1',
  properties: {
  },
  listeners: {

  },

  acercade: function()
  {
    window.location = "/about_us.html";
  },

  entrarblog: function()
  {
    window.location = "/main_blog.html";
  }
  //  class MyView1 extends Polymer.Element {
    //  static get is() { return 'my-view1'; }
  //  }

  //  window.customElements.define(MyView1.is, MyView1);
})
  </script>
</dom-module>
