<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<script
    src="https://code.jquery.com/jquery-3.2.1.js"
    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link rel="icon" href="https://getbootstrap.com/docs/3.3/favicon.ico">

    <title>Cover Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="https://getbootstrap.com/docs/3.3/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="https://getbootstrap.com/docs/3.3/assets/js/ie-emulation-modes-warning.js"></script>
<dom-module id="my-view1">
  <template>

    <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Proyect Tech University 2017</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <!--<li class="active"><a href="/main_blog.html">Acceso al Blog</a></li>-->
                  <li><a href="/about_us.html">Sobre nosotros</a></li>

                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Bienvenidos al Blog Futboleros</h1>
            <p class="lead">Si te interesa el mundo del futbol este es tu sitio para estar al día de las ultimas noticias del deporte rey</p>
            <p class="lead">Comparte tus noticias, consulta las ultimas novedades, sigue la actualidad de tu equipo favorito o del eterno rival </p>
              <p class="lead">Esperamos contar con tu presencia y con la misma contribuir a que cada vez seamos mas los que formemos parte de este blog</p>
            <p class="lead">
              <a href="/main_blog.html" class="btn btn-lg btn-primary">Acceso al blog</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Desarrollado para Tech University</p>
            </div>
          </div>

        </div>

      </div>

    </div>
  </body>



  </template>

  <script>
  Polymer ({

  is:'my-view1',
  properties: {
  },
  listeners: {

  },

  acercade: function()
  {
    window.location = "/about_us.html";
  },

  entrarblog: function()
  {
    window.location = "/main_blog.html";
  }
  //  class MyView1 extends Polymer.Element {
    //  static get is() { return 'my-view1'; }
  //  }

  //  window.customElements.define(MyView1.is, MyView1);
})
  </script>
</dom-module>
