<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/google-map/google-map.html">
<!--<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyD3E1D9b-Z7ekrT3tbhl_dy8DCXuIuDDRc"></script>-->

<dom-module id="my-view3">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">

      <h1 align="center">Info sobre Blog Futboleros</h1>
      <p>Este blog ha sido desarrollado como proyecto final correspondiente a la primer edición de la Tech University dentro de BBVA</p>
      <p>Los datos de contacto de la pesona que ha realizado el desarrollo son</p>
      <p>Ezequiel Monsalve Gómez - <a href="mailto:ezequiel.monsalve@bbva.com">ezequiel.monsalve@bbva.com</a></p>
      <p> Edificio America del Norte - Planta 1  - Ciudad BBVA - 28050 Madrid</p>


      <p><button type="button" name="volver" on-click="volver"> Volver </button></p>

    </div>
    <style>
      google-map {
        height: 400px;
      }
    </style>

      <google-map latitude="40.5005089" longitude="-3.667016" api-key="AIzaSyAfMcV3YnY-a37mNr2kAsNcZGciWU72oUg" zoom="15">
      <google-map-marker latitude="40.5011666" longitude="-3.664166" title="Ciudad BBVA">
        <h2> Ciudad BBVA </h2>
        <p> Sede central en Madrid de BBVA </p>
        <p> <img src="http://ethic.es/wp-content/uploads/2013/05/LA_VELA.jpg" width="300px" alt="Edificio de La Vela"></p>
      </google-map-marker>
    </google-map>
  </template>

  <script>
  Polymer ({

  is:'my-view3',
  properties: {
  },
  listeners: {

  },

  volver: function(){

    window.location = "/index.html";

  }
});


  </script>
</dom-module>
